<youtube-video video-url="youtubeURL" player="ytPlayer"></youtube-video>



<div class="btn-group" role="group" >
    <button type="button" ng-click="clickPlayVideo()"  class="btn btn-default" > <span ng-class="playClass" class="glyphicon" aria-hidden="true"></span></button>
    <button type="button" ng-click="clickPrevSong()" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
    <button type="button" ng-click="clickNextSong()" class="btn btn-default"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
    <button type="button" ng-click="clickMute()" class="btn btn-default" ng-model="isMute" bs-checkbox><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span></button>
    <button type="button" ng-click="clickVolumeDown()" class="btn btn-default"><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span></button>
    <button type="button" ng-click="clickVolumeUp()" class="btn btn-default"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></button>
</div>
