<youtube-video video-url="youtubeURL" player="ytPlayer"></youtube-video>
<button ng-click="clickPlayVideo()">Play</button>
<button ng-click="clickStopVideo()">Pause</button>
<button ng-click="clickMute()">mute volume</button>
<button ng-click="clickUnMute()">unMute volume</button>
<button ng-click="clickVolumeUp()">volumeUp</button>
<button ng-click="clickVolumeDown()">volumeDown</button>
<button ng-click="clickNextSong()">nextSong</button>
<button ng-click="clickPrevSong()">prevSong</button>
<input type="text" id='inputUrl'> </input>
<button ng-click="clickLoadUrl()">load url</button>